<div class="container">
    <div class="timer-container" *ngIf="displayTimers">
        <div class="tile">
            <div class="left">
                <span>
                    <small>Время на смене</small>
                    {{ workSessionService.sessionDuration * 1000 | date:"HH:mm:ss":'UTC' }}
                </span>
            </div>
            <div class="right">
                <span>
                    <small>Текущее время</small>
                    {{ currentTime | date:"HH:mm"}}
                </span>
            </div>
        </div>
    </div>
    <div class="open-menu-container">
        <div class="inner no-select" (click)="toggleMenu()">
            <div class="info">
                <p class="name">Иван Иванов</p>
                <p class="date">7 марта 2021</p>
            </div>
            <div class="icon">
                <img src="/assets/icons/profile.svg">
            </div>
        </div>
    </div>
</div>
<div class="backdrop-container" *ngIf="showMenu">
    <div class="drop-menu-container">
        <button class="error-button" (click)="accountService.logout()">Выйти из аккаунта</button>
    </div>
</div>
