<div class="container">
  <table>
    <tr class="table-header">
      <th>Address</th>
      <th></th>
    </tr>
<!--    <tr class="table-body " *ngFor="let restaurant of restaurants">-->
    <tr class="table-body " *ngFor="let restaurant of restaurants">
      <td>{{restaurant.addressString}}</td>
      <td>
        <button mat-flat-button
                class="manage-btn"
                (click)="manageRestaurant(restaurant.id, restaurant.addressString)"
        >
          Manage
        </button>
      </td>
    </tr>
  </table>
</div>
