<!--<div class="table-container">-->
<!--  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">-->

<!--    <ng-container matColumnDef="position">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> No.</th>-->
<!--      <td mat-cell *matCellDef="let row"> {{row.position}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="name">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Name</th>-->
<!--      <td mat-cell *matCellDef="let row"> {{row.name}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="isOnWork">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> At work</th>-->
<!--      <td mat-cell *matCellDef="let row">-->
<!--        <mat-slide-toggle color="accent" class="toggle-work" [checked]="row.isOnWork"></mat-slide-toggle>-->
<!--      </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="link">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> View profile</th>-->
<!--      <td mat-cell *matCellDef="let row">-->
<!--        <button mat-flat-button class="manage-btn" (click)="openCourierPage(row.link)">-->
<!--          #{{ getProperLink(row.link) }}-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
<!--</div>-->
