<div class="anchor">
  <div class="orders-container">

    <div class="cards-container">
      <div class="card-wrapper" *ngFor="let order of sortedOrders" (click)="openOrderById(order.id)">
        <mat-card class="card">
          <mat-card-header class="card-header">
            <mat-card-title class="card-title"> #{{ getProperLink(order.id) }} </mat-card-title>

          </mat-card-header>
          <mat-card-content class="card-content">
          <span class="content-text">
            {{ order.addressString }}
          </span>
          </mat-card-content>
          <mat-card-content class="card-footer">
          <span class="footer">
            {{ order.creationDateTime }}
          </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="add-btn-container">
      <div class="example-button-container">
        <button mat-fab class="add-btn" aria-label="Example icon button with a bookmark icon">
        <span class="material-icons">
          add
        </span>
        </button>
      </div>
    </div>

    <div class="mailing-btn-container">
      <div class="mailing-btn-wrapper">
        <div class="text-wrapper">
          <span>Automatic distribution</span>
        </div>
        <div class="toggle-wrapper">
          <mat-slide-toggle color="accent" class="toggle-work"></mat-slide-toggle>
        </div>
      </div>
    </div>

  </div>

  <div class="absolute-window">
    <app-order-by-id [selectedOrderId]="selectedOrderId"></app-order-by-id>
  </div>
</div>
