<div class="container">
    <header>
        <div class="title">
            <span>15-6</span>
        </div>
        <div class="tags">
            <span>Дос</span>
        </div>
    </header>
    <div class="order-name">
        <span>Сумоку Панко</span>
    </div>
    <div class="content">
        <div class="icons">
            <div class="icon">
                <div class="inner">
                    <img src="/assets/icons/sauce.svg">
                    <span>x2</span>
                </div>
            </div>
            <div class="icon">
                <div class="inner">
                    <img src="/assets/icons/chopsticks.svg">
                    <span>x2</span>
                </div>
            </div>
            <div class="icon">
                <div class="inner">
                    <img src="/assets/icons/wasabi.svg">
                    <span>x2</span>
                </div>
            </div>
            <div class="icon">
                <div class="inner">
                    <img src="/assets/icons/ginger.svg">
                    <span>x2</span>
                </div>
            </div>
        </div>
        <div class="timer">
            <span class="late">03:58</span>
        </div>
    </div>
</div>