<div class="container">
    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>

    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>

    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>
    <app-packer-slider-tile></app-packer-slider-tile>
</div>