<div class="container">
    <div class="inner">
        <span class="tag">Доставка</span>
        <header>
            <div class="column">
                <h1 class="title">Заказ №15-6</h1>
            </div>
            <div class="column">
                <img src="/assets/icons/sauce.svg">
                <span>x2</span>
            </div>
            <div class="column">
                <img src="/assets/icons/chopsticks.svg">
                <span>x2</span>
            </div>
            <div class="column">
                <img src="/assets/icons/wasabi.svg">
                <span>x2</span>
            </div>
            <div class="column">
                <img src="/assets/icons/ginger.svg">
                <span>x3</span>
            </div>
        </header>
        <div class="list">
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
            <app-order-tile></app-order-tile>
        </div>
    </div>
</div>
<app-defect-modal></app-defect-modal>