<div class="container">
    <div class="column">
        <div class="title">
            <span>Текущие заказы</span>
        </div>
        <div class="inner">
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
        </div>
    </div>
    <div class="gap"></div>
    <div class="column">
        <div class="title">
            <span>Готовые заказы</span>
        </div>
        <div class="inner">
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
            <app-order-item (click)="router.navigate(['/packer', 'order', '1'])"></app-order-item>
        </div>
    </div>
</div>