<div class="order-container">
  <div class="back-btn" (click)="hide()">
    <span class="material-icons">
      arrow_forward_ios
    </span>
  </div>

  <div class="header">
    <div class="header-inner">
      <span class="order-id">
        #{{ getProperLink(selectedOrderId) }}
      </span>
    </div>
  </div>

  <div class="body-info">
    <div class="left-container">
      <div class="time-disclaimer">
        <div class="title part">Order time:</div>
        <div class="context part">
          {{ fullOrder.creationDateTime }}
        </div>
      </div>
      <div class="time-disclaimer">
        <div class="part title">Delivery time:</div>
        <div class="part context">
          {{ fullOrder.creationDateTime }}
        </div>
      </div>
    </div>
    <div class="center-container">
      <div class="addresses-wrapper">
        <div class="main-address">
          <span>{{ fullOrder.addressString }}</span>
        </div>
        <div class="additional-address">
          <span>{{ fullOrder.addressAdditional }}</span>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="title-wrapper">
        <div class="composition-title">
          <span>The order composition</span>
        </div>
      </div>
      <div class="context-wrapper">
        <ul>
          <li> {{ fullOrder.content }} </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="deliveries-info">
    <!--    <div class="table-container">-->
    <table mat-table [dataSource]="deliveries" class="mat-elevation-z8">

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef class="table-id"> No.</th>
        <td mat-cell *matCellDef="let row">
            <span class="custom-link" (click)="openDeliveryById(row.id)">
              #{{getProperLink(row.id)}}
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="OrderId">
        <th mat-header-cell *matHeaderCellDef class="table-order"> Order Id</th>
        <td mat-cell *matCellDef="let row">
            <span class="custom-link">
              #{{getProperLink(row.orderId)}}
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="CourierUsername">
        <th mat-header-cell *matHeaderCellDef class="table-header"> Courier username</th>
        <td mat-cell *matCellDef="let row">
            <span class="custom-link" (click)="openCourierById(row.id)">
              {{ row.courierUsername }}
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="TimeRange">
        <th mat-header-cell *matHeaderCellDef class="table-header"> Delivery dates</th>
        <td mat-cell *matCellDef="let row">
            <span class="begin-at">
              {{ row.startTime }}
            </span>
          <span *ngIf="!!row.endTime" class="finish-at">
              &nbsp;-&nbsp;{{ row.endTime }}
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef class="table-header"> Status</th>
        <td mat-cell *matCellDef="let row">
          <div class="icon-wrapper">
            <img *ngIf="row.status.toLowerCase() == 'inprogress'" src="./assets/icons/delivered-icon.svg"
                 alt="Delivering">
            <img *ngIf="row.status.toLowerCase() == 'canceled'" src="./assets/icons/cancelled-2.0.svg" alt="Canceled">
            <img *ngIf="row.status.toLowerCase() == 'finished'" src="./assets/icons/delivering-icon.svg"
                 alt="Delivered">
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
