<div class="order-container">
  <div class="back-btn" (click)="hide()">
    <span class="material-icons">
      arrow_forward_ios
    </span>
  </div>

  <div class="header">
    <div class="header-inner">
      <span class="order-id">
        Заказ #213123
      </span>
    </div>
  </div>

  <div class="body-info border">
    <div class="left-container">
      <div class="time-disclaimer">
        <div class="title part">Order time:</div>
        <div class="context part">19 апреля 23:21</div>
      </div>
      <div class="time-disclaimer">
        <div class="part title">Delivery time:</div>
        <div class="part context">20 апреля 01:21</div>
      </div>
    </div>
    <div class="center-container">

    </div>
    <div class="right-container"></div>
  </div>
  <div class="deliveries-info"></div>
</div>
