<div class="container">
    <div class="timers-container">
        <h2>Основные показатели</h2>
        <div class="inner">
            <div class="timer">
                <span>
                    <small>Время приготовления</small>
                    2:25
                </span>
            </div>
            <div class="timer">
                <span>
                    <small>Лучшее время</small>
                    2:25
                </span>
            </div>
            <div class="timer">
                <span>
                    <small>Средняя скорость</small>
                    2:25
                </span>
            </div>
            <div class="timer">
                <span>
                    <small>В очереди</small>
                    25
                </span>
            </div>
        </div>
    </div>
    <div class="actions-container">
        <h2>Комментарий к заказу</h2>
        <div class="inner">
            <div class="comment-container">
                <p>
                    Уберите огурцы!!!
                </p>
            </div>
            <app-action-buttons></app-action-buttons>
        </div>
    </div>
</div>